*:focus {
    outline: none;
}

body {
  margin: 0;
  font: $font-m;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #9c92f5; 
}

::-webkit-scrollbar-thumb {
    background: $violet; 
}

::-webkit-scrollbar-thumb:hover {
    background: #5f5897; 
}

button {
  background: transparent;
  border: none;
  font-family: 'Muli', sans-serif;
  cursor: pointer;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  background-color: #eeeeeea2 !important;
  z-index: 2000;
}