.closed {
  @media (max-width: $medium) {
    position: fixed;
    left: -300px;
    z-index: -10;
  }
}

.open {
  position: fixed;
  left: 0;
  z-index: 10;
  box-shadow: 7px 0 10px $shadow;
}

.button-text {
  padding: 0 20px 1px 20px;
  color: #fff;
  font: $font-s;
  border: 1px solid #fff;
  border-radius: 3px;
}