.closed {
  @media (max-width: $medium) {
    position: fixed;
    left: -300px;
    z-index: -1000;
  }
}

.open {
  position: fixed;
  left: 0;
  z-index: 1000;
  box-shadow: 10px 0 10px $shadow;
}

.button-text {
  padding: 1px 20px 2px 20px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 3px;
}