// COLORS

$violet: #746db4;
$violet-transparent: #6c65ace0;
$violet-light: #9087e0;
$grey: #CFD8DC;
$grey-dark: #a8a8a8;
$grey-text: #949494;
$blue-transparent: #a5cfd58a;
$white-transparent: #ffffffb7;
$yellow: #ffd752;
$shadow: #00000094;
$shadow-light: #00000052;

// FONT SIZES

$font-xs-italic: italic 12px 'Muli', sans-serif;
$font-xs-bold: bold 12px 'Muli', sans-serif;
$font-s: normal 14px 'Muli', sans-serif;
$font-m: normal 16px 'Muli', sans-serif;
$font-m-bold: bold 16px 'Muli', sans-serif;
$font-l-bold: bold 18px 'Muli', sans-serif;

// BREAKPOINTS

$small: 320px;
$medium: 768px;
$large: 1024px;