.chat-app {
  display: flex;
  min-height: 100vh;

  .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: $grey;

    @media (max-width: $medium) {
      width: 100%;
    }

    .topbar {
      display: flex;
      height: 55px;
      background: $violet-gradient;
      color: #fff;
      text-align: center;

      .more {
        display: none;

        @media (max-width: $medium) {
          display: inline;
        }

        button {
          margin-top: 12px;

          .icon {
            color: #fff;
          }
        }
      }
      
      .room-info {
        width: 100%;
        
        .room-name {
          margin: 10px auto 5px auto;
          font-weight: bold;
        }

        .room-users {
          margin: 0 auto 5px auto;
          font-size: 12px;
          font-style: italic;
        }
      }
    }

    .messages {
      height: 83%;
      padding: 20px;
      overflow: auto;

      @media (max-width: $medium) {
        padding: 5px;
      }
    }

    .chat-input {
      height: 55px;
      padding: 0 20px;
      background: #fff;
      box-shadow: 0 -1px 10px $light-shadow;

      form {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid $grey-dark;

        input {
          width: 90%;
          padding: 7px 15px;
          font-size: 16px;
          font-family: 'Muli', sans-serif;
          border: none;
          border-radius: 10px;
        }

        button {
          color: $violet;
        }
      }
    }
  }
}