.message {
  display: flex;
  max-width: 500px;
  height: auto;

  img {
    max-height: 50px;
    margin: 5px;
  }

  .message-content {
    min-width: 100px;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 6px;
    word-break: break-all;

    .sender {
      margin: 0 0 12px 0;
      color: $violet;
      font-size: 14px;
      font-weight: bold;
    }

    .text {
      margin: 0;
    }

    .time {
      float: right;
      margin: 7px 0 0 0;
      color: $grey-text;
      font-size: 12px;
      font-style: italic;
    }
  }

  .message-content-consecutive {
    @extend .message-content;
    margin-left: 65px;
  }
}