.modal {
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  color: #fff;
  background: $violet-gradient;
  border-radius: 6px;
  outline: none;

  form {
    width: 220px;
    margin: auto;
    text-align: center;
    border: 1px solid transparent;

    h3 {
      margin: 15px auto 20px auto;
    }

    .error {
      height: 20px;
      margin: 20px auto;
      color: $yellow;
      text-align: center;
    }

    p {
      margin: 5px auto;
      font-size: 14px;
      text-align: left;
    }

    input {
      width: 220px;
      margin: 0 auto 20px auto;
      background: transparent;
      color: #fff;
      font-size: 20px;
      font-family: 'Muli';
      font-weight: bold;
      border: none;
      border-bottom: 1px solid #fff;
    }

    button {
      margin: 15px auto;
    }
  }
}