.sidebar {
  width: 300px;
  background: $violet-transparent;
  -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;

  .profile {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;

      img {
        max-height: 80px;
        margin: 10px;
        border-radius: 50%;
      }

      p {
        margin: 15px;
        color: #fff;
        font: $font-l-bold;
      }

      .edit {
        margin-left: 15px;
      }
    }

    .close {
      display: none;

      @media (max-width: $medium) {
        display: inline;
      }

      button {
        margin: 10px 5px;

        .icon {
          color: #fff;
        }
      }
    }
  }

  .public-chats {
    .panel {
      @include panel;
    }

    .public-chats-list {
      @include list;
    }
  }

  .users {
    .panel {
      @include panel;
    }

    .users-list {
      @include list;
    }
  }
}