.chat-app {
  display: flex;
  min-height: 100vh;
}

.chat-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  background: $grey;
}

.messages {
  padding: 20px;
  background: $grey;
}

.chat-input {
  height: 55px;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 -1px 10px $grey-dark;
}

.chat-input form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid $grey-dark;
}

.chat-input input {
  width: 90%;
  padding: 7px 15px;
  border: none;
  color: $navy;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  border-radius: 10px;
}