.message {
  display: flex;
  max-width: 500px;
  min-height: 100px;
}

.message img {
  max-height: 50px;
  margin: 5px;
}

.message-content {
  margin: 5px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
}

.message-content .sender {
  margin: 0 0 15px 0;
  color: $violet;
  font-size: 14px;
  font-weight: bold;
}

.message-content .text {
  margin: 5px 0;
}

.message-content .time {
  float: right;
  margin: 10px 5px 0 5px;
  color: $grey-text;
  font-size: 14px;
  font-style: italic;
}