.message {
  display: flex;
  max-width: 500px;
  height: auto;
}

.message img {
  max-height: 50px;
  margin: 5px;
}

.message-content,.message-content-consecutive {
  min-width: 100px;
  height: auto;
  margin: 5px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
}

.message-content-consecutive {
  margin-left: 65px;
}

.message-content .sender {
  margin: 0 0 12px 0;
  color: $violet;
  font-size: 14px;
  font-weight: bold;
}

.message-content .text,.message-content-consecutive .text {
  margin: 0;
}

.message-content .time,.message-content-consecutive .time {
  float: right;
  margin: 7px 0 0 0;
  color: $grey-text;
  font-size: 14px;
  font-style: italic;
}