$violet: #8F5DB7;
$violet-light: #ab5fe9;
$violet-shadow: #56386e;
$violet-gradient: linear-gradient(to bottom right, $violet 0%, $violet 40%, $violet-light 100%);
$grey: #CFD8DC;
$grey-dark: #a8a8a8;
$grey-text: #949494;
$blue-light: #a7d2e6;

*:focus {
    outline: none;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #bc79f3; 
}

::-webkit-scrollbar-thumb {
    background: $violet; 
}

::-webkit-scrollbar-thumb:hover {
    background: #7d52a0; 
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@import './components/ChatApp.scss';
@import './components/Sidebar.scss';
@import './components/Message.scss';
@import './components/MyMessage.scss';
@import './components/LoginModal.scss';
